/*STYLE GERAL */

/*LANDING PAGE CSS */

* {
    /*pra deixar o menu retinho em cima sem aquelas bordinhas*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body-lp {
    background-color: #111821;
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            /* degrade preto com 50% de transparência*/
            rgba(0, 0, 0, 0.5)),
        url('/static/fundo.jpg');
    /*aqui pega uma foto no banco de img e poe de fundo*/

    /*Faz a imagem preencher toda a tela e ficar centralizada, 
        mesmo que precise cortar um pouco das bordas, sem repetir nem deixar espaço vazio.*/
    background-size: cover;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff
}


/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /* esses 5% torna header responsivo */
    position: sticky;
    top: 0;
    /* gruda elemento no topo sticky*/
    z-index: 100;
    background: rgba(34, 84, 117, 0.7);
    /* mesma cor, mas transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*-webkit- = compatibilidade com mais navegadores*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

#logo-header {
    width: 50%;
    min-height: px;
    max-width: 500px;
    height: auto;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-header ul {
    display: flex;
    list-style: none;
    /*tira bolinha em frente da lista*/
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 50px;
}

.nav-header li {
    position: relative;
}

.nav-header a {
    text-decoration: none;
    /*tira sublinhado*/
    color: #fff;
    font-weight: bold;
    font-size: larger;
    /*deixa estilo negrito*/
    transition: 0.3s;
}

.nav-header a:hover {
    color: rgb(0, 205, 218);
}

/* MAIN SECTION */

#titulo-main {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#main-frase {
    color: #fff;
    text-align: center;
    align-items: center;
    margin-left: 50px;

}

main img {
    width: 500px;
    height: 300px;
    align-items: center;
}

#img-main {
    margin-right: 50px;
    transition: transform 0.3s, filter 0.3s;
}

#img-main:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 6px #a3c2d7);
}

/*sobre*/

#titulo-sobre {
    color: #fff;
    font-weight: bold;
    text-align: center;


}

#sobre {
    gap: 70px;
    padding: 60px;
    border-radius: 15px;
    width: 1200px;
    margin-left: 75px;
}

#container_sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.bloco {
    max-width: 300px;
    text-align: center;
}

.bloco h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold
}

.bloco p {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold
}

#equipe img {
    width: 380px;
    border-radius: 10px;
    transition: 0.3s;
}

#equipe img:hover {
    transform: scale(1.05);
}

/*Funcionalidade*/

#funcionalidade {
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    background: rgba(34, 84, 117, 0.7);
    /* mesma cor, mas transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*-webkit- = compatibilidade com mais navegadores*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cardfunci {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.card {
    width: 220px;
}

.card img {
    width: 100%;
    background-color: aliceblue;
    border-radius: 50px;
    transition: 0.3s;
}

.card img:hover {
    transform: scale(1.1);
}

.card p {
    margin-top: 10px;
    transition: 0.3s;
}

.card p:hover {
    color: #baebea
}

/*contato*/

#contato {
    text-align: center;
}

#form_contato {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
    margin: 0 auto;
}

#form_contato input {
    padding: 12px 15px;
    border-radius: 25px;
    border: 1px solid #333;
    outline: none;
    font-size: 1rem;
    transition: 0.3s;
}

#form_contato button {
    padding: 12px 15px;
    border-radius: 25px;
    border: 1px solid #333;
    outline: none;
    font-size: 1rem;
    transition: 0.3s;
    background-color: #225475;
}


/*footer*/
/*footer*/
.rodape {
    background: #0d0d0d;
    color: #fff;
    padding: 50px 20px 20px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

/* redes sociais */
.redes ul {
    list-style: none;
    padding: 0;
}

.redes ul li {
    display: inline-block;
    margin: 0 10px;
}

.redes ul li img {
    width: 35px;
    transition: transform 0.3s, filter 0.3s;
}

.redes ul li img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 6px #225475);
}

/*parte inferior */
.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-bottom: 30px;
    padding-top: 15px;
    font-size: 13px;
    color: #aaa;
    display: block;
}

/*LOGIN CSS */


.body-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            /**/
            rgba(0, 0, 0, 0.5)), url('/static/fundologin.png');
    /*aqui pega uma foto no banco de img e poe de fundo*/
    background-size: cover;
    background-position: center;
}

.login-container {
    height: 100vh;
}

.login-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 40px;
    width: 100%;
    max-width: 380px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-semfundo {
    width: 200px;
    margin-bottom: 20px;
}

.form-control-login {
    background: #0f172a;
    border: 1px solid #334155;
    color: #fff;
}

.form-control-login:focus {
    background: #0f172a;
    border-color: #5b92eb;
    box-shadow: none;
    color: #fff;
}

.btn-login {
    background: linear-gradient(135deg, #1b5eef, #06b6d4);
    border: none;
}

.btn-login:hover {
    opacity: 0.9;
}

.text-muted {
    color: #94a3b8 !important;
}

/*SIDEBAR CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body-sb {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

.main-sidebar {
    padding: 20px;
    margin-left: 20px; /* largura do sidebar fechado */
    width: 100%;
    min-height: 100vh;
    transition: all .5s;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 2px;
    align-items: center;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    margin-left: 25px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    align-items: center;
    margin-right: 25px; /*arruma pra direita pq tava feio*/
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #4db4b9;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #54b8bc;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/*TELAS CADASTRO CSS */

.body-cadastro { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), /**/
    rgba(0, 0, 0, 0.5)), url('/static/fundologin.png'); /*aqui pega uma foto no banco de img e poe de fundo*/ 
    background-size: cover; background-position: center;
}

.cadastro-container{
    height: 100vh;
}
.cadastro-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 40px;
    width: 100%;
    max-width: 380px;
    border: 1px solid rgba(255,255,255,0.1);
}

.form-control-cad {
    background: #0f172a;
    border: 1px solid #334155;
    color: #fff;
}

.form-control-cad:focus {
    background: #0f172a;
    border-color: #3b82f6;
    box-shadow: none;
    color: #fff;
}

.btn-cad {
    background: linear-gradient(135deg, #2563eb, #06b6d4);
    border: none;
}

.btn-cad:hover {
    opacity: 0.9;
}

/*MOVIMENTAÇÃO CSS */
.body-mov { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), /**/
    rgba(0, 0, 0, 0.5)), url('/static/fundologin.png'); /*aqui pega uma foto no banco de img e poe de fundo*/ 
    background-size: cover; background-position: center;
}

.mov_solicitacao {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 40px;
    width: 100%;
    max-width: 700px;
    border: 1px solid rgba(255,255,255,0.1);
}

#btn-solicitacao{
    margin-left: 500px;
}

/*sidebar*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body-sb {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

.header-sb {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    transition: all .5s;
}


#sidebar-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed; /*!!!!!!!!!!!!!!!!!!!!!!!!!*/
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content-sb {
    padding: 2px;
    align-items: center;
}

#user-sb {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
    margin-left: 60px;
}

#user_avatar-sb {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#user_infos-sb {
    display: flex;
    flex-direction: column;
}

#user_infos-sb span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items-sb {
    display: flex;
    align-items: center;
    margin-right: 25px; /*arruma pra direita pq tava feio*/
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item-sb {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item-sb.active {
    background-color: #4db4b9;
}

.side-item-sb:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item-sb a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item-sb.active a {
    color: #e3e9f7;
}

.side-item-sb a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout-sb {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn-sb {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn-sb {
    position: absolute;
    top: 20px;
    right: -10px;
    background-color: #548fbc;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#open_btn_icon-sb {
    transition: transform .3s ease;
}

.open-sidebar-sb #open_btn_icon-sb {
    transform: rotate(180deg);
}

.item-description-sb {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar ~ main{
    margin-left: 240px;
    width: calc(100% - 240px);
}

#sidebar.open-sidebar .item-description-sb {
    width: 150px;
    margin-top: 0px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


.dropdown-menu, dropdown-menu2{
    background-color: #2490cb;
    color: #ffffff;
}


/*Dashboard*/
#dasboard-main{
    width: calc(100% - 82px);
    margin-left: 82px;
    padding: 20px;
    transition: all .5s;
}

#dashboard-main h1, p{
    margin-left: 20px;  
    padding: 20px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.banner-d{
    width: 100%;
    height: 45vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.301), rgba(0,0,0,0.4)),
        url('../images/estoquee.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 25px 25px;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.conteudo-d{
    color: rgb(255, 255, 255);
}

.conteudo-d h1{
    font-size: 60px;
}

.conteudo-d p{
    font-size: 20px;
}



/*estilização dos cards*/
.card-dash-d {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-dash-d:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.label-dash-d {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--dash-teal);
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.value-dash-d {
    font-size: 2.2rem;
    color: var(--dash-text);
}

/* Card verde de progresso */
.card-teal-d {
    background-color: rgba(65, 190, 192, 0.215);
    color: rgb(56, 104, 123);
}

.card-teal-d .label-dash-d {
    color: rgb(56, 104, 123);
}

/* Simulação de gráfico de barras */
.bar-container-d {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 150px;
    padding-top: 20px;
}

.bar-item-d {
    width: 15%;
    background-color: #83bfdf;
    transition: all 0.3s ease;
}

.bar-item-d:hover{
    background-color: #4db4b9;
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.bar-item-d.active {
    background-color: var(--dash-teal);
}

.body-lista{
    background-image: url('./imgs/fundolista.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.card-dash-lista{
    background: rgba(255, 255, 255, 0.285);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.fw-bold{
    font-weight: 700px;
    color: antiquewhite;
}
#lista {
    --bs-text-opacity: 1;
    color: #fff !important;
}

.btn{
    background-color: #2490cb;
    color: white;
    border: none;
    transition: 0.3s;
}

.btn:hover{
    background-color: #1b6f9c;
    transform: scale(1.05);
}

.btn-editar-lista{
    background-color: #2490cb;
    border: none;
    color: white;
}

.btn-excluir-lista{
    background-color: #ff4d4d;
    border: none;
    color: white;
}
.btn-excluir-lista:hover{
    background-color: #9c1b1b;
    transform: scale(1.05);
}
