<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lading Page - ToyTech</title>
    <link rel="stylesheet" href="/static/style_geral.css">
</head>

<body class="body-lp">
    <header>

        <div id="div-header-logo">
            <img id="logo-header" src="/static/images/Tela_toytechh.png" alt="logo-toytech">
        </div>
        <nav class="nav-header">
            <ul>
                <a href="#sobre">
                    <li>Sobre a ToyTech</li>
                </a>
                <a href="#funcionalidades">
                    <li>Funcionalidades</li>
                </a>
                <a href="#contato">
                    <li>Contato</li>
                </a>
            </ul>
        </nav>
    </header>
    <main>
        <div id="main-frase">
            <h1>Gerenciando seu estoque <br>de brinquedos de maneira <br>facilitada e otimizada!</h1>
            <h2>Controle, agilidade e mais lucro para sua loja de brinquedos</h2>
        </div>
        <div id="img-main">
            <img src="/static/images/dashboard_exemplo.png" alt="">
        </div>
    </main>


    <section id="sobre">
        <h1 id="titulo-sobre">Sobre Nós</h1>
        <div id="container_sobre">
            <div class="bloco">
                <h2>Sobre nossa empresa</h2>
                <p>
                    A Toy Tech é uma empresa especializada em gerenciamento de estoque no setor de brinquedos,
                    com foco em produtos que incorporam tecnologia e interatividade para apoiar o aprendizado infantil.
                    Nós impulsionamos o mercado de brinquedos com tecnologia.
                    Estamos ansiosos para compartilhar nossa solução de gestão de estoque e como ela transforma a
                    distribuição de brinquedos.
                </p>
            </div>
            <div id="equipe">
                <img src="/static/images/foto_da_equipe.png" alt="logo">
            </div>
            <div class="bloco">
                <h2>Nossas soluções</h2>
                <p>
                    Sistema conta com a integração entre diversos departamentos, como a comunicação e troca de
                    informações
                    entre eles, uso do reconhecimento de imagem, como ferramenta para auxiliar no armazenamento correto
                    no
                    estoque, evitando que haja falha na separação de pedidos e Automação de alguns processos manuais, de
                    entradas e saídas de produtos no estoque , aumentando a produtividade da equipe e evitar erros.
                </p>
            </div>
        </div>
    </section>

    <section id="funcionalidade">
        <h2>Principais Funcionalidades</h2>
        <div class="cardfunci">
            <div class="card">
                <img src="/static/images/agilidade.png" alt="agilidade">
                <p>Execute tarefas de forma rápida e prática,<br>economizando tempo diário no seu estoque.</p>
            </div>
            <div class="card">
                <img src="/static/images/organizacao.png" alt="organizacao">
                <p>Centralize e organize todas as informações em um único sistema.</p>
            </div>
            <div class="card">
                <img src="/static/images/produtividade.png" alt="produtividade">
                <p>Otimize o trabalho e aumente o rendimento da equipe.</p>
            </div>
        </div>
    </section>

    <section id="contato">
        
        <h2>Contato</h2>
            <p>Preencha o formulário para entrar em contato com a ToyTech</p>
            <form action="form-inscricao" id="form_contato">
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
                <input type="tel" name="celular" id="celular" placeholder="Digite seu Whatsapp" required>
                <button type="submit">Clique aqui</button>
            </form>
    </section>



<footer class="rodape">
        <div class="footer-container">

            <div class="footer-col">
                <img src="/static/images/Tela_toytechh.png" alt="" class="footer-logo">
        
            </div>

            <!--redes sociais-->
            <div class="footer-col">
                <nav class="redes">
                    <ul>
                        <li>
                            <a href="#"><img src="/static/images/facebook logo.png logo.png" alt="facebook"></a>
                        </li>

                        <li>
                            <a href="#"><img src="/static/images/instagram.png" alt="instagram"> </a>
                        </li>

                        <li>
                            <a href="#"><img src="/static/images/whatsapp logo.png logo.png" alt="whatsapp"> </a>
                        </li>

                    </ul>
                </nav>
            </div>


        </div>

       <!--direitos-->
        <div class="footer-bottom">
            <p>© 2026 ToyTech. Todos os direitos reservados.</p>
            <address>
                SESI CE-210- Itapira/SP
            </address>
        </div>
    </footer>

</body>
</html>