{% extends 'sidebar.html' %}

{% block conteudo %}
<h2>{{ 'Editar Localização' if localizacao and localizacao.id else 'Cadastrar Localização' }}</h2>
<div class="body-cadastro">

    <div class="container d-flex align-items-center justify-content-center cadastro-container">
        <div class="cadastro-card text-center mt-4">
            <h3 class="mb-3 text-white">CADASTRO DE LOCALIZAÇÃO</h3>

            <form method="POST"action="{% if localizacao and localizacao.id %}{{ url_for('salvar_localizacao','atualizar_localizacao', id=localizacao.id) }}{% else %}{{ url_for('salvar_localizacao') }}{% endif %}">
                <div class="mb-3 text-start"> <label class="form-label text-white">Rua</label>
                    <div class="input-group"> <span class="input-group-text "><i class="bi text-white"></i></span>
                        <input type="text" id="rua" name="rua" class="form-control-cad" value="{{ localizacao.rua if localizacao else '' }}" required>
                    </div>
                </div>
                <div class="mb-3 text-start"> <label class="form-label text-white">Prateleira</label>
                    <div class="input-group"> <span class="input-group-text "><i class="bi  text-white"></i> </span>
                        <input type="text" id="prateleira" name="prateleira" class="form-control-cad" value="{{ localizacao.prateleira if localizacao else '' }}" required>
                    </div>
                </div>
                <div class="mb-3 text-start"> <label class="form-label text-white">Andar</label>
                    <div class="input-group"> <span class="input-group-text "><i class="bi  text-white"></i> </span>
                        <input type="text" id="andar" name="andar" class="form-control-cad" value="{{ localizacao.andar if localizacao else '' }}" required>
                    </div>
                <button class="btn btn-cad w-100 text-white mt-2" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}