{% extends 'sidebar.html'%}

{% block conteudo %}
<h2>{{ 'Editar Sensor' if sensor and sensor.id else 'Cadastrar Sensor' }}</h2>

<div class="body-cadastro">

    <div class="container d-flex align-items-center justify-content-center cadastro-container">
        <div class="cadastro-card text-center mt-4">
            <h3 class="mb-3 text-white">CADASTRO DE SENSOR</h3>

            <form method="POST" action="{% if sensor and sensor.id %}{{ url_for('salvar_sensor','atualizar_sensor', id=sensor.id) }}{% else %}{{ url_for('salvar_sensor') }}{% endif %}">
                <div class="mb-3 text-start"> <label class="from-label text-white">Modelo</label>
                    <div class="input-group"> <span class="input-group-text "> <i class="bi text-white"></i>
                        </span> <input type="text" id = "modelo_sensor" name="modelo_sensor" class="form-control-cad" value="{{ sensor.modelo_sensor if sensor else '' }}" required> </div>
                </div>

                <div class="mb-3 text-start"> <label class="from-label text-white">Descrição - Função</label>
                    <div class="input-group"> <span class="input-group-text "> <i class="bi  text-white"></i> </span>
                        <input type="text" id = "descricao_funcao_sensor" name="descricao_funcao_sensor" class="form-control-cad" value="{{ sensor.descricao_funcao_sensor if sensor else '' }}" required>
                    </div>
                </div>

                <div class="mb-3 text-start"> <label class="from-label text-white">Fornecedor</label>
                    <div class="input-group"> <span class="input-group-text "> <i class="bi  text-white"></i> </span>
                        <input type="text" id = "fornecedor_id" name="fornecedor_id" class="form-control-cad" value="{{ sensor.fornecedor_id if sensor else '' }}" required>
                    </div>
                </div>

                <div class="mb-3 text-start"> <label class="from-label text-white">Altura</label>
                    <div class="input-group"> <span class="input-group-text "> <i class="bi  text-white"></i> </span>
                        <input type="float" id = "altura_sensor" name="altura_sensor" class="form-control-cad" value="{{ sensor.altura_sensor if sensor else '' }}" required>
                    </div>
                </div>

                <div class="mb-3 text-start"> <label class="from-label text-white">Largura</label>
                    <div class="input-group"> <span class="input-group-text "> <i class="bi  text-white"></i> </span>
                        <input type="float" id = "largura_sensor" name="largura_sensor" class="form-control-cad" value="{{ sensor.largura_sensor if sensor else '' }}" required>
                    </div>
                </div>

                <div class="mb-3 text-start"> <label class="from-label text-white">Tipo</label>
                    <div class="input-group"> <span class="input-group-text "> <i class="bi  text-white"></i> </span>
                        <input type="float" id = "tipo" name="tipo" class="form-control-cad" value="{{ sensor.tipo if sensor else '' }}" required>
                    </div>
                </div>

                <button class="btn btn-cad w-100 text-white mt-2" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}